<fieldset>
  <ul>
    <li class="bbf-field bbf-fieldText">
      <label for="edit-post-title">Title</label>
      <div class="bbf-editor bbf-editorText">
        <input id="edit-post-title" name="title" type="text">
      </div>
      <div class="bbf-help">
      </div>
    </li>
    
    <li class="bbf-field bbf-fieldText">
      <label for="edit-post-message">Message</label>
      <div class="bbf-editor bbf-editorText">
        <input id="edit-post-message" name="message" type="text">
      </div>
      <div class="bbf-help">
      </div>
    </li>

      <button id="submit-post">Submit</button>
      <button id="delete-post">Delete</button>
    
    <li class="bbf-field">
      <a class="leave" href="#">I'm done editing</a>
    </li>
  </ul>
</fieldset>