<!-- app/assets/templates/posts/index.jst.ejs -->

<h2>Message Board</h2>

<div id="posts-head">
	<a class="create" href="#new">Post</a>
</div>

<table id="posts-list"> 
  <tbody>
  </tbody>
  <!-- child content will be rendered here -->
</table>

