     <fieldset>
  <ul>
    <li class="bbf-field bbf-fieldText">
      <label for="new-post-title">Title</label>
      <div class="bbf-editor bbf-editorText">
        <input id="new-post-title" name="title" type="text">
      </div>
      <div class="bbf-help">
      </div>
    </li>
    
    <li class="bbf-field bbf-fieldText">
      <label for="new-post-message">Message</label>
      <div class="bbf-editor bbf-editorText">
        <input id="new-post-message" name="message" type="text">
      </div>
      <div class="bbf-help">
      </div>
    </li>

    <li class="bbf-field">
      <input type="submit" value="Submit">
    </li>
    <li class="bbf-field">
      <a class="leave" href="#">I'm done adding posts</a>
    </li>
  </ul>
</fieldset>