<h1>Posts</h1>

<!-- app/views/posts/index.html.erb -->

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    MessageBoard.initialize({ posts: <%= @posts.to_json.html_safe -%> });
  <% end %>
<% end -%>