// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset {
  width: 480px;
  margin: 25px auto;
}

table {
  width: 480px;
  margin: 25px auto;
}

tr.yours {
  font-weight: bold;
}